body {
    background-color: #eee
}

h3 {
    border-bottom: 1px solid #ccc;
}

.sha, .uid {
    font-family: monospace;
}

.icon {
    width: 48px;
    image-rendering: pixelated;
}

ul.applications {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

ul.applications > li {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.application-header {
    border-bottom: 1px solid #eee;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.application-header img {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.application-name {
    font-size: 1.6rem;
}

.application-identifier {
    text-align: right;
    font-family: monospace;
    color: #ccc;
}

.summary {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.readme {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

a.install {
    color: orange;
    background-color: #eee;
    font-weight: 600;
    text-decoration: none;
    padding: 0.6em 1em;
    display: inline-block;
    border-radius: 2em;
}

.readme-contents {
    white-space: pre;
    font-family: monospace;
    background-color: #eee;
    border-radius: 0.5rem;
    padding: 2rem;
}

.version-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.version-name {
    font-size: 1.2rem;
}

.version-details {
    text-align: right;
}

.release .path {
    font-family: monospace;
}
