<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if page.title %} – {{ page.title }}{% endif %}</title>
    <link rel="icon" type="image/x-icon" href="{{ "/images/favicon.ico" | absolute_url }}">
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% else if site.description %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}
    <link rel="stylesheet" href="{{ "/css/style.css" | absolute_url }}">
    <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/default.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/dark.min.css" media="(prefers-color-scheme: dark)">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
