<nav>
    <ul>
        <li>{% include link.html url="/" title="Library" %}</li>
        <li>{% include link.html url="/index/" title="Index" %}</li>
        <li>{% include link.html url="/icons/" title="Icons" %}</li>
        <li>{% include link.html url="/sources/" title="Sources" %}</li>
        <li>{% include link.html url="/summary/" title="Summary" %}</li>
        <li>{% include link.html url="/about/" title="About" %}</li>
        <li>{% include link.html url="/contributing/" title="Contributing" %}</li>
        <li><a target="_blank" href="https://github.com/jbmorley/psion-software-index">GitHub</a></li>
    </ul>
</nav>
