:root {
    --foreground-color: #000;
    --background-color: rgb(246, 246, 246);
    --secondary-background-color: #fff;
    --tertiary-background-color: #eee;
    --link-color: orange;
}

@media (prefers-color-scheme: dark) {

    :root {
        --foreground-color: #fff;
        --background-color: #171616;
        --secondary-background-color: rgb(33, 32, 33);
        --tertiary-background-color: #2b2b2b;
        --link-color: orange;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    margin: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

header nav {
    text-align: center;
    font-weight: 300;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0 0.5em;
}

header ul li {
    display: inline-block;
    padding: 1em 0.5em;
}

header nav a {
    display: inline-block;
}

header > .icon {
    display: block;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
}

.content, footer {
    text-align: left;
    max-width: 720px;
    margin: auto;
    font-weight: 200;
}

.content ul {
    line-height: 1.4em;
}

.content.full {
    max-width: initial;
}

@media (max-width: 760px) {
    .content {
        margin: 2rem;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container a {
    font-weight: bold;
}

footer {
    text-align: center;
    margin: 3rem auto 1rem auto;
    font-weight: 100;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 0.5em;
}

table.statistics {
    margin: auto;
}

.stat {
    font-weight: bold;
    padding-right: 0.4em;
    text-align: right;
}

/* Icons */

.icon-grid {
    margin: 1rem;
}


/* Library */


.sha, .uid {
    font-family: monospace;
    color: #ccc;
}

.icon {
    width: 48px;
    image-rendering: pixelated;
}

.screenshots {
    overflow-x: scroll;
    white-space: nowrap;
}

.screenshot {
    border: 1px solid var(--tertiary-background-color);
    max-width: 90%;
}

ul.applications {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
}

@media screen and (max-width: 1000px) {
    ul.applications {
        grid-template-columns: 1fr 1fr;
    }
}

.application-header {
    align-items: baseline;
}

.application-header img {
    vertical-align: middle;
    margin-right: 1rem;
}

.application-name {
    font-size: 1.2rem;
}

ul.applications > li > a {
    color: var(--foreground-color);
    display: block;
    padding: 1.6rem;
    border-radius: 1rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

ul.applications > li > a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.application-identifier {
    text-align: center;
    font-family: monospace;
    color: #ccc;
}

.readme {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

a.install {
    color: orange;
    background-color: var(--tertiary-background-color);
    font-weight: 600;
    text-decoration: none;
    padding: 0.6em 1em;
    display: inline-block;
    border-radius: 2em;
}

.readme-contents {
    white-space: pre-wrap;
    font-family: monospace;
    background-color: var(--tertiary-background-color);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-top: 1rem;
}

.path {
    font-family: monospace;
    word-break: break-all;
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
}

ul.tags li {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 0.2em 1em;
    font-size: 0.7rem;
}

ul.tags li.epoc32 {
    color: teal;
    background-color: rgba(0, 127, 127, 0.25);
}

ul.tags li.sibo {
    color: orange;
    background-color: rgba(255, 165, 0, 0.2);
}

ul.tags li.opa, ul.tags li.opo, ul.tags li.opl {
    color: red;
    background-color: rgba(255, 0, 0, 0.25);
}

ul.tags li.database {
    color: blue;
    background-color: rgba(0, 0, 255, 0.25);
}

/* Dividers */

.summary {
    border-bottom: 1px solid var(--tertiary-background-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
