<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Psion Software Index</h1>

        <h2>Libraries</h2>

        <ul>
            {% for library in libraries %}
                <li>{{ library.name }} – {{ library.path }}</li>
            {% endfor %}
        </ul>

        <h2>Summary</h2>
        <table>
            <tr>
                <td>{{ summary.installer_count }}</td>
                <td>Installers</td>
            </tr>
            <tr>
                <td>{{ summary.uid_count }}</td>
                <td>Unique UIDs</td>
            </tr>
            <tr>
                <td>{{ summary.version_count }}</td>
                <td> Unique versions</td>
            </tr>
            <tr>
                <td>{{ summary.sha_count }}</td>
                <td>Unique files</td>
            </tr>
        </table>

        <h2>Software</h2>

        <ul class="applications">
            {% for application in applications %}
                <li>
                    <div class="application-header">
                        <div class="application-name">
                            {% if application.icon %}
                                <img class="icon" src="{{ application.icon.data }}">
                            {% endif %}
                            {{ application.name }}
                        </div>
                        <div class="application-identifier">
                            {{ "0x%08x" % application.uid }}
                        </div>
                    </div>
                    {% if application.summary %}
                        <div class="summary">
                            <p>{{ application.summary }}</p>
                        </div>
                    {% endif %}
                    {% for version in application.versions %}
                        <div class="version-header">
                            <div class="version-name">
                                {{ version.version }}
                            </div>
                            <div class="version-details">
                                {{ version.installers | count }} installers, {{ version.variants | count }} variants
                            </div>
                        </div>
                        <ul>
                            {% for variant in version.variants %}
                                <li>
                                    <div class="release">
                                        <div class="language">
                                            {{ variant.installers[0].language_emoji }}
                                        </div>
                                        <div class="path">
                                            <ul>
                                                {% for installer in variant.installers %}
                                                    <li>{{ installer.full_path }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>

    </body>
</html>
