---
layout: default
---

{% assign program = page.program %}

<header>

    {% if program.icon %}
        <img class="icon" width="{{ program.icon.width }}" height="{{ program.icon.height }}" src="/{{ program.icon.path }}">
    {% else %}
        <img class="icon" width="48" height="48" src="/images/unknown.gif">
    {% endif %}

    <h1>{{ page.title }}</h1>

    <p class="application-identifier">{{ program.uid }}</p>

</header>

{% if program.screenshots %}
    <div class="screenshots">
        {% for screenshot in program.screenshots %}
            <img width="{{ screenshot.width }}" height="{{ screenshot.height }}" class="screenshot" src="/{{ screenshot.path }}" />
        {% endfor %}
    </div>
{% endif %}

{% if program.summary %}
    <div class="summary">
        <p>{{ program.summary }}</p>
    </div>
{% endif %}

{% if program.readme %}
    <details class="readme">
        <summary>README</summary>
        <div class="readme-contents">{{ program.readme | xml_escape }}</div>
    </details>
{% endif %}

{% for version in program.versions %}
    <h2>{{ version.version }}</h2>
    <table>
        {% for variant in version.variants %}
            {% for release in variant.items %}
                <tr>
                    <td>
                        {% if release.icon %}
                            <img class="icon" width="{{ release.icon.width }}" height="{{ release.icon.height }}" src="/{{ release.icon.path }}">
                        {% else %}
                            <img class="icon" width="48" height="48" src="/images/unknown.gif">
                        {% endif %}
                    </td>
                    <td>
                        <div>{{ release.name }}</div>
                        <div class="path">
                            {% for component in release.reference %}
                                {% if component.url %}<a href="{{ component.url }}">{% endif %}{{ component.name | xml_escape }}{% if component.url %}</a>{% endif %}
                                {% if forloop.last == false %}
                                    &#8594;
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="sha">{{ release.sha256 }}</div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endfor %}